{% extends "base.html" %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
    <head>
         <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='Style.css')}}"
        <link rel="stylesheet" href="Style.css">

        <title>Clothing</title>
    </head>
    <body>
	<script type="text/javascript">
        function foo (a) {
          console.log(a);
          // $.ajax({
          //   type: "POST",
          //   url: "/addtocart",
          //   data: a,
          //   cache: false,
          //   success: function(response){
          //         alert("Added to Cart");
          //   }
          // });
          $.post('/addtocart', {
        data: a
    }).done(function(translated) {
        alert("Done")
    }).fail(function() {
        alert("Failed")
    });
        }
      </script>
        <div class="form-group">
          <P id='clothing'>Choose your product</P>
          <form action="/clothes" method="post">
            <div class="col-md-3">
            <input type="number" class='form-control' name="min" placeholder="minimum price">
            </div>
            <div class="col-md-3">
            <input type="number" class='form-control' name="max" placeholder="maximum price">
            </div>
            <div class="col-md-4">
          <select name="type" class="form-control">
            <option value="all" >All</option>
            <option value="Kids Clothing" >Kids</option>
            <option value="Mens Clothing" >Mens</option>
            <option value="Womens Clothing">Womens</option>
          </select>
        </div>
        <div class="col-xs-3">
		  <select name="sort" class="form-control">
            <option value="a" >Ascending</option>
            <option value='b'>Descending</option>
          </select>
        </div>
          <input type="submit" value='List Products' class="btn btn-success">
        </form>
        </div>
<br><br><br><br>
<div>
  {% for item in clothes %}
    <div>
      <p>{{ item.id }}</p>
      <img src="static/{{item.id}}.jpg" width = "200px" height = "150px" class="img-thumbnail">
      <button onclick="foo('{{ item.id }}')" class="btn btn-primary">Add to cart</input>
    </div>
    {% endfor %}
</div>
</body>
</html>
    </body>
</html>
{% endblock %}